#home {
	background-image: url("../images/mandala.png");
	background-repeat: no-repeat;
	background-position: 57vw -230px;

	.light-mode & {
		background-image: url("../images/flower.png");
		background-position: 62vw -10px;
	}

	.info {
		padding-top: 215px;
		z-index: 1;

		h1 {
			margin-bottom: 24px;

			span {
				color: $dark_gray;

				.light-mode & {
					color: $light_gray;
				}
			}
		}

		.field {
			display: flex;
			align-items: center;
			margin-bottom: 16px;

			h2 {
				margin: 0;
				color: $dark_gray;

				.light-mode & {
					color: $light_gray;
				}
			}

			span {
				font-size: 21px;
				margin-left: 2px;
			}
		}

		p {
			max-width: 490px;
			margin-bottom: 74px;
			text-align: justify;
		}

		.socials {
			margin-top: 120px;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-right: 40px;

				a {
					display: flex;
					align-items: center;
					text-decoration: none;
					padding: 9px 11px;
					transition: all 0.3s;

					&:hover {
						border-radius: 6px;
						background: darken($dark_primary, 25%);

						.light-mode & {
							background: rgba($light_primary, 0.15);
						}

						span,
						i {
							color: $white;

							.light-mode & {
								color: $gray;
							}
						}
					}

					i {
						font-size: 28px;
						margin-right: 8px;
						transition: all 0.3s;
						color: $dark_gray;

						.light-mode & {
							color: $light_gray;
						}
					}

					span {
						transition: all 0.3s;
						color: $dark_secondary_gray;

						.light-mode & {
							color: $light_secondary_gray;
						}
					}
				}
			}
		}
	}

	.image {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		z-index: 1;

		img {
			border-radius: 8px;
			max-width: 100%;
			transition: all 0.3s;

			&:hover {
				filter: grayscale(0.5);
			}
		}
	}
}
