@media (min-width: 1400px) {
	.root {
		padding: 40px;
	}
	.container {
		max-width: 1200px;
	}
}

@media (max-width: 1199px) {
	.root {
		padding: 60px;
	}
	#about_me {
		.languages-skills .languages-soft-skills {
			padding-right: 12px;
		}
		.tech-skills {
			padding: 0px 20px;

			h3 {
				font-size: 14px;
			}
		}
	}

	#my_resume {
		.experience {
			margin-top: 100px;
		}
	}

	#contact_me {
		.container {
			.info {
				padding-left: 12px;
			}
		}
	}
}

@media (max-width: 991px) {
	#home {
		.image {
			justify-content: flex-start;
			height: unset;
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}

	.modal#workModal
		.modal-dialog
		.modal-content
		.modal-body
		.modal-close-button {
		right: 10px;
		top: 10px;
	}

	#contact_me {
		.container {
			.info {
				margin-top: 80px;
			}
		}
	}
}

@media (max-width: 767px) {
	.root {
		padding: 60px;
	}
	#sidebar {
		padding-right: 60px;
		transform: translateX(-100%);
		transition: all 0.3s;
		background: darken($dark_secondary, 30%);

		.light-mode & {
			background: $light_secondary;
		}

		&.open {
			transform: translateX(0);
		}

		.toggle-sidebar {
			display: flex;
		}

		.logo {
			text-align: left;
		}

		nav ul li {
			a {
				display: flex;
				align-items: center;
				text-decoration: none;
				padding-left: 8px;

				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 46px;
					border-radius: 8px;
					opacity: 0;
					transform: translate(-50%, -50%) scale(0);
					transition: all 0.3s;
					background: $dark_primary;

					.light-mode & {
						background: darken($light_button_bg, 10%);
					}
				}

				span {
					display: block;
					padding-left: 8px;
					padding-right: 8px;
				}
			}

			> span {
				display: none;
			}
		}
	}

	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 20px;
	}

	main {
		padding-left: 0;
	}

	#home {
		background-image: unset;

		.info {
			padding-top: 80px;

			.socials {
				margin-top: 70px;

				ul {
					justify-content: space-between;
				}
			}
		}
	}

	#about_me {
		.hero .info .buttons {
			flex-direction: column;

			a {
				width: 100%;
				text-align: center;

				&:first-child {
					margin-bottom: 16px;
				}
			}
		}

		.rate {
			span {
				width: 12px;
				height: 12px;

				&:before {
					width: 12px;
					height: 12px;
				}

				&::after {
					width: 12px;
					height: 12px;
				}
			}
		}

		.languages-skills {
			h3,
			span {
				font-size: 12px;
			}
		}
		.soft-skills {
			margin-top: 60px;

			h3 {
				font-size: 12px;
			}
		}
		.tech-skills {
			h3 {
				font-size: 12px;
			}

			img {
				width: 30%;
				height: auto;
			}
		}
	}

	#my_resume {
		.container {
			padding: 50px;
		}
		.items {
			.item {
				position: relative;

				.icon {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -23px;
					z-index: 2;
					margin-top: 0;
					background: rgba($dark_secondary, 0.75);

					.light-mode & {
						background: $light_secondary;
					}

					&:before {
						display: none;
					}
				}

				.box:before {
					display: none;
				}
			}
		}

		.education,
		.experience {
			padding-right: 12px;
			padding-left: 12px;
		}
	}

	.modal#workModal {
		.modal-dialog .modal-content .modal-body {
			img {
				height: unset;
			}
			.left {
				padding-right: 0;

				h2 {
					font-size: 20px;
					margin-top: 32px;
					margin-bottom: 16px;
				}

				p {
					font-size: 16px;
				}
			}

			.right {
				padding-left: 0;
				padding-top: 32px;

				i {
					font-size: 18px;
				}

				span {
					font-size: 16px;
				}

				.github-link {
					margin-top: 18px;

					a,
					i {
						font-size: 18px;
						text-decoration: none;
						color: $dark_primary;
					}
				}
			}
		}
	}

	#contact_me {
		.container {
			.info {
				.item {
					flex-direction: column;
					text-align: center;
					margin-bottom: 32px;

					i {
						margin-right: 0;
						margin-bottom: 8px;
					}

					br {
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 574px) {
	#home {
		.container {
			padding: 40px;
		}
	}
	#about_me {
		.container {
			.info {
				.row {
					padding: 40px;
				}
				h1,
				p {
					padding: 40px;
				}

				.buttons {
					padding: 40px;
				}
			}
		}
	}

	#my_work {
		.container {
			padding: 40px;
		}
	}
}
